{
    "plugins": [
        "@babel/plugin-transform-modules-umd"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 1 version",
                        "ie >= 11"
                    ]
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [ "istanbul" ]
        }
    }
}
