language: node_js
node_js:
  - "8"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install

addons:
  chrome: stable

script: npm run lint && npm run test

after_success:
  - if [[ $TRAVIS_TAG ]]; then
      npm version --no-git-tag-version "${TRAVIS_TAG}"
      npm run build
      npm pack
    else
      npm run build
    fi

deploy:
  - provider: npm
    email: "${NPM_EMAIL}"
    api_key: "${NPM_OAUTH_TOKEN}"
    skip_cleanup: true
    on:
      tags: true
  - provider: releases
    api_key: "${GITHUB_OAUTH_TOKEN}"
    file: "qjslib-${TRAVIS_TAG}.tgz"
    skip_cleanup: true
    on:
      tags: true
